<td>
  <% if (size < 100 * 1024 * 1024) { %>
    <!-- Only show files under 100 MB -->
    <a href='/api/logs/<%-name%>/view' target=_blank><%-name%></a>
  <% } else { %>
    <%-name%>
  <% } %>
</td>
<td>
  <span title="created: <%-birthtime%>, changed: <%-mtime%>"><%-mtime%></span>
</td>
<td style="text-align: right; white-space: nowrap;">
  <%-formattedSize%>
</td>
<td style="text-align: right">
  <a class="btn btn-primary btn-xs" href="/api/logs/<%-name%>/download">
    <span class="glyphicon glyphicon-download"></span>
    Download
  </a>
  <a class="btn btn-danger btn-xs destroy ladda-button" data-style="expand-left">
    <span class="glyphicon glyphicon-trash"></span>
    Delete
  </a>
</td>
